.Dpto {
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    
    
}

.Dpto .contimg{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}

.Dpto .contimg img{
    width: 30%;
    display: block;
    margin-top: 10px;
    
}

.Dpto .contitulo{
    text-align: center;
   
    width: 100%;
    height: 49%;
    padding: 10px;
}