




.article-list {
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px ;
    
}

.article-container {
	
    width: 32%;
    margin: 20px 0;
    
}

.article-container h2 {
	color: #17485d;
	font-size: 22px;
	margin-bottom: 10px;
	font-weight: 700;
}

.img-container {
	width: 100%;
    margin-bottom: 10px;
    max-height: 500px;
    overflow: hidden;
   
}

.img-container img {
    
	width: 100%;
    vertical-align: top;
    
    border-radius: 3px;
}

.img-container img:hover {
	transform: scale(1.1);
	transition: transform 0.6s ease-in-out;
}

.img-container:hover {
	overflow: hidden;
    border-radius: 3px;
}

.article-body {
	text-align: justify;
}

.article-container p {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
	line-height: 25px;
}

.article-footer span {
	color: #17485d;
	font-size: 14px;
	font-weight: 500;
}





