

.ingreso{
    background-color:#e2e4e6;
    
}
.contenedor-logo{
    text-align: center;
}

.contenedor-logo img{
    width: 150px;
    margin:15px 0 0 0;
}

.contenedor-logo p{
    font-style: italic;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenedor-nav{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}



